[user]
        name = RFish ⚓
        email = RonanCherrueau@gmail.com
[core]
        excludesfile = ~/.gitignore_global
        pager = cat
        editor = emacs
        whitespace = -trailing-space
[color]
        ui = auto
[alias]
        st = status
        ci = commit
        lg = log --graph --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %ar)%Creset'
[diff]
        tool = vimdiff
        mnemonicPrefix = true
        wordRegex = .
[fetch]
        recurseSubmodules = on-demand
[grep]
        extendedRegexp = true
[log]
        abbrevCommit = true
[merge]
        conflictStyle = diff3
[mergetool]
        # keepBackup = false
        # keepTemporaries = false
        # prompt = false
[pull]
        # This is GREAT… when you know what you're doing and are careful
        # not to pull --no-rebase over a local line containing a true merge.
        # rebase = true
        # WARNING! This option, which does away with the one gotcha of
        # auto-rebasing on pulls, is only available from 1.8.5 onwards.
        # rebase = preserve
[push]
        default = upstream
[rerere]
        # If, like me, you like rerere, decomment these
        # autoupdate = true
        # enabled = true
[status]
        submoduleSummary = true
#[user]
#	name = pv-sec-sac2016
#	email = pv-sec-sac2016@users.noreply.github.com
