!General config
Xft*dpi:                      96
Xft*antialias:                true
Xft*hinting:                  true
Xft*hintstyle:                hintfull
Xft*rgba:                     rgb

! ----------------------------------------------------------------- Zenburn
! `man urxvt` for the customization
! source https:               //gist.github.com/cqpx/1436584
URxvt*depth:                  32
URxvt*geometry:               90x30
URxvt*transparent:            false
URxvt*fading:                 0
URxvt*font:                   xft: FiraMono: size=9
URxvts*.letterSpace:          -1
URxvt*scrollBar:              false
URxvt*internalBorder:         0
URxvt*jumpScroll:             true
URxvt*visualBell:             false
URxvt*pointerBlank:           true
URxvt*saveLines:              65535
URxvt*termName:               rxvt

! Pointer
URxvt*pointerBlank:           true
URxvt*pointerColorBackground: #586e75
URxvt*pointerColorForeground: #93a1a1

! Cursor
URxvt*cursorColor:            #dc8cc3

URxvt.internalBorder:         0
URxvt*background:             #3f3f3f
URxvt*foreground:             #dcdccc
! URxvt*colorUL:                #366060
URxvt*underlineColor:         #dfaf8f

URxvt*color0:                 #3f3f3f
URxvt*color1:                 #cc9393
URxvt*color2:                 #7f9f7f
URxvt*color3:                 #d0bf8f
URxvt*color4:                 #6ca0a3
URxvt*color5:                 #dc8cc3
URxvt*color6:                 #93e0e3
URxvt*color7:                 #dcdccc
URxvt*color8:                 #000000
URxvt*color9:                 #dca3a3
URxvt*color10:                #bfebbf
URxvt*color11:                #f0dfaf
URxvt*color12:                #8cd0d3
URxvt*color13:                #dc8cc3
URxvt*color14:                #93e0e3
URxvt*color15:                #ffffff

! -------------------------------------------------------------------- Rofi
! $ man rofi
! $ rofi -dump-xresources
rofi.kb-row-up: Control+k,Control+p,Up
rofi.kb-row-down: Control+j,Control+n,Down
! Set selected item as input text
rofi.kb-row-select: Tab
rofi.kb-row-tab:
! Use extended color scheme
rofi.color-enabled: true
! bg Background color row
! fg Text color
! bgalt Background color alternating row
! hlfg Foreground color selected row
! hlbg Background color selected row
! State:           'bg',    'fg',    'bgalt', 'hlbg',  'hlfg'
rofi.color-normal: #2f1e2e, #b4b4b4, #2f1e2e, #4a3255, #ffffff
rofi.color-urgent: #2f1e2e, #ef6155, #2f1e2e, #4a3255, #ef6155
rofi.color-active: #2f1e2e, #4a3255, #2f1e2e, #4a3255, #4a3255
!                  'background', 'border'
rofi.color-window: #2f1e2e,       #ef6155, #ef6155
! Separator style (none, dash, solid)
rofi.separator-style: dash
